<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        video {
            border: 1px solid #ccc;
            display: block;
            margin: 0 0 20px 0;
            float: left;
        }

        #canvas {
            margin-top: 20px;
            border: 1px solid #ccc;
            display: block;
        }
    </style>
</head>
<body>
    <video id="video" width="500" height="400" autoplay></video>   
    <canvas id="canvas" width="500" height="400"></canvas> 
    <button id="snap" >拍照并人脸识别</button>
<script type="text/javascript">
    var context = canvas.getContext("2d");    
    window.addEventListener("DOMContentLoaded", function() {      
        var canvas = document.getElementById("canvas");       
        var video = document.getElementById("video");        
        var videoObj = {"video" : true};         
        var errBack = function(error) {             
            console.log("Video capture error: ", error.code);        
        };    
        if (navigator.getUserMedia) {        
            navigator.getUserMedia(videoObj, function(stream) {                
                video.srcObject = stream;
                video.play();           
            }, errBack);         
        } else if (navigator.webkitGetUserMedia) {          
            navigator.webkitGetUserMedia(videoObj, function(stream) {              
                video.srcObject = window.webkitURL.createObjectURL(stream);
                video.play();           
            }, errBack);         
    } else if (navigator.mozGetUserMedia) {          
        navigator.mozGetUserMedia(videoObj, function (stream) {
            video.srcObject = window.URL.createObjectURL(stream);
            video.play();
        }, errBack);
        }
    }, false); 
    document.getElementById("snap").addEventListener("click", function () {
        context.drawImage(video, 0, 0, 500, 400);
        var dataURL = canvas.toDataURL();
        var temp = document.createElement("form");    
        temp.action = "http://127.0.0.1:5000/";
        temp.method = "post";     
        temp.style.display = "none";
        var opt = document.createElement("textarea");
        opt.name ="imgdata";                        
        if (dataURL !== null) { opt.value = dataURL; }
        temp.appendChild(opt);
        document.body.appendChild(temp);
        temp.submit();
    });

</script>
</body>
</html>